<!DOCTYPE html>
<html>
    <head>
        <title>Handlebars</title>
        <link rel="stylesheet" href="js/style.css">
        <script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
        <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
        
        <script type="text/javascript">
         $("document").ready(function(){         
            
            var template = $("#itemTemplate").html();
            // Handlebars compiles the template into a callable function
            var renderer = Handlebars.compile(template);
                        
           $.getJSON("js/employeeList.json", function(data){
              $("#placeholder").html(renderer(data));
            });        
                       
         });
        </script>
    </head>
    <body>

        <h1>Conditionals and Loops in Templates with Handlebars JS</h1>

        <h3>Handlebars has support for basic logic built in.</h3>      

    <div id="container">
          <ul>
              <!-- Script fyrir handlebars sen notar each lykkju til að fara yfir JS fylkið result mep if else setningu sem les boolean hvort starfsmaður er fulltime eða part time -->
              <script id="itemTemplate" type="x-handlebars-template">
                  {{#each employees}}

                    {{#if fulltime}}

                      <li> {{name}} {{title}} {{email}} {{phone}} full time </li>

                    {{else}}

                      <li>{{name}} {{title}} {{email}} {{phone}} part time</li>

                    {{/if}}

                  {{/each}}


              </script>
          </ul>

        </div>
        <div id="placeholder"></div>
    </body>
</html>
