<!DOCTYPE html>
<html>
	<head>
		<title>Cat clicker list</title>
		<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
		    <script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
        <!--  nota cookies til að meðhöndla teljara fram yfir closure sem var reynt við -->
        <script type="text/javascript" src="js/js.cookie.js"></script>
        <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
        <!--  - MVO skipting -  hef logicið í Octupuss (controler) í sér java skrá -->
        <script type="text/javascript" src="js/cats.js"></script>
	</head>
	<body>
			<div id="ListViewContainer">
          <ul>
               <!--  - MVO skipting -  Nota handlebars í View hluta fyrir interaction við user -->
              <script id="itemTemplateList" type="x-handlebars-template">
              	{{#each this}}

                    <li>{{title}}</li>

                {{/each}}
              </script>
          </ul>

        </div>
        <!--  hérna kemur viewið fyrir listan af köttunum -->
        <div id="placeholderList"></div>

        <div id="CatImageContainer">         
              <!--  - MVO skipting -  Nota handlebars í View hluta fyrir interaction við user -->
              <script id="itemTemplateImage" type="x-handlebars-template">
              <hr />
              <h1 id='currentCat'>{{title}}</h1>
              <br />
             <img id="kattamynd" src={{url}}><br />
             Það hefur verið smellt á myndina <span id='clickerSpan'></span> sinnum<br />

              </script>
          

        </div>
        <!--  hérna kemur viewið fyrir kattarmynd og nafn -->
        <div id="placeholderImage"></div>
       
	</body>

</html>
