li {
  cursor: pointer;
}
ul{
	text-align: right;
}

img {
  cursor: pointer;
  padding:15px;
  
}
h1{
	text-align: center;
}
body{
	font-family: cursive;	
}
#clickerSpan{
	font-weight: bold;
	color: red;
}
