#Animals
{
  padding: 10px;
  margin: 10px;

}

#Content
{
  margin: auto;
  width: 70%;
  padding:15px;
/*  border: 1px solid black; */
  text-align: center;
}
#Content table
{
  margin: auto;
/*  border: 1px solid black; */
}

#AddForm
{
  display:none;
  width:700px;
}
