<!DOCTYPE html>
<html>
    <head>
        <title>Handlebars</title>
        <link rel="stylesheet" href="js/style.css">
        <script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
        <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
        <script type="text/javascript">
         $("document").ready(function() {
            var template = $("#itemTemplate").html();
            // Handlebars compiles the template into a callable function
            var renderer = Handlebars.compile(template);
            // call the compiled function with the template data
            var result = renderer({
               "employees" : [{
                  "name" : "Henry Handsome",
                  "phone" : "+1-212-555-1234",
                  "email" : "pensive@example.com",
                  "title" : "Senior VP of Basketweaving",
                  "fulltime" : true
               }, {
                  "name" : "Penelope Persistent",
                  "phone" : "+1-212-555-8000",
                  "email" : "truthful@example.com",
                  "title" : "Principal Understudy",
                  "fulltime" : false
               }, {
                  "name" : "Sam Serendipity",
                  "phone" : "+1-212-555-9876",
                  "email" : "helpful@example.com",
                  "title" : "Chief Cook and Bottle Washer",
                  "fulltime" : true
               }, {
                  "name" : "Tom Terriffic",
                  "phone" : "+1-212-555-0011",
                  "email" : "grumpy@example.com",
                  "title" : "Janitor",
                  "fulltime" : false
               }]});
            
            $("#placeholder").html(result);
         });
        </script>
        
       
    </head>
    <body>

        <h1>Conditionals and Loops in Templates with Handlebars JS</h1>

        <h3>Handlebars has support for basic logic built in.</h3>      

		<div id="container">
          <ul>
              <!-- Script fyrir handlebars sen notar each lykkju til að fara yfir JS fylkið result mep if else setningu sem les boolean hvort starfsmaður er fulltime eða part time -->
              <script id="itemTemplate" type="x-handlebars-template">
                  {{#each employees}}

                    {{#if fulltime}}

                      <li> {{name}} {{title}} {{email}} {{phone}} full time </li>

                    {{else}}

                      <li>{{name}} {{title}} {{email}} {{phone}} part time</li>

                    {{/if}}

                  {{/each}}


              </script>
          </ul>

        </div>
        <div id="placeholder"></div>
    </body>
</html>
